*.py[cod]

build
devel

profile.tmp
training_data
*.swp
/ros/src/tl_detector/light_classification/images.csv
/ros/src/tl_detector/light_classification/train/
/ros/src/tl_detector/light_classification/valid/
/ros/src/tl_detector/light_classification/aug/
/ros/src/tl_detector/light_classification/light_classification.zip
/ros/just_traffic_light.bag
/ros/loop_with_traffic_light.bag
